<nav style="border-bottom: solid 2px black;">
    <!-- container que contiene las 3 columnas en la que se divide la navbar, dentro de la misma estan
    3 botones y un logo -->
    <div class="container">
        <div class="row row-cols-3">
            <div class="col">
                <!-- boton de menu -->
                <button class="butt" onclick="openNav()"><i class="fa-solid fa-bars ico"></i></button>
            </div>
            <div class="col" style="position: relative ;">
                <!-- Logo Principal -->
                <div>
                    <img class="logo" src="/img/Logo.png" alt="" onclick="return2Main()">
                </div>
            </div>
            <div class="col">
                <!--Div contenedor que contiene 3 divs con un boton de busqueda y un boton de una shopping
                bag que fueron arreglados en columnas utilizando Flexbox -->
                <div st class="cont">
                    <div>
                        <button class="butt"><i class="fa-solid fa-bag-shopping ico"></i></button>
                    </div>
                    <div>
                        <button class="butt"><i class="fa-solid fa-user ico" onclick=""></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>